* {
    boder: 0;
    padding: 0;
    margin: 0;
}


@mixin rotate($b) {
    -webkit-transform: rotate($b);
    -moz-tranform: rotate($b);
    -ms-tranform: rotate($b);
    transform: rotate($b);
}


body {
    background: #F3D8C7;
}

.container>* {
    position: absolute;
}

.container {
    margin: 0 auto;
    width: 350px;
    height: 180px;
    transform: scale(0.7);
}

.plate {
    z-index: -1;
    position: absolute;
    background-color: #FFF;
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    box-shadow: 20px 15px 0 rgba(#666666, 0.3);
    margin: {
        left: -2.5rem;
        top: -1.9rem;
    }
}

.pie {
    margin-top: 5rem;
    width: 10rem;
    height: 10rem;
    position: relative;
    background: #F9C38A;
    border-radius: 20%;
    &:before,
    &:after {
        content: '';
        position: absolute;
        @extend .pie
    }
    &:before {
        @include rotate(30deg);
        margin-top: -.5rem;
    }
    &:after {
        @include rotate(60deg);
        margin-top: -.5rem;
    }
}

.filling {
    z-index: 99;
    position: absolute;
    background: #F87756;
    border-radius: 100%;
    width: 9rem;
    height: 9rem;
    margin-left: .4rem;
}

.face {
    width: 15px;
    height: 15px;
    background: #333;
    border-radius: 100%;
    margin: {
        top: 3rem;
        left: 2.5rem;
    }
    &:before,
    &:after {
        content: '';
        position: absolute;
        background: #333;
        border-radius: 100%;
    }
    &:before {
        width: 15px;
        height: 15px;
        margin-left: 3rem;
    }
    &:after {
        width: 20px;
        height: 20px;
        border: 5px solid;
        background: none;
        border-color: transparent transparent #333 #333;
        transform: rotate(-47deg);
        margin-left: 1rem;
    }
}

.cup {
    background: #FFF;
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    margin: {
        left: 15rem;
        top: -10rem;
    }
    &:before,
    &:after {
        position: absolute;
        content: '';
        border-radius: 100%;
    }
    &:before {
        width: 140px;
        height: 140px;
        background: #FFF - 25;
        margin: {
            left: .6rem;
            top: .6rem;
        }
    }
    &:after {
    		margin:{
    			left: 1.7rem;
    			top: 1.7rem;
    		}
            width: 110px;
            height: 110px;
            background: rgba(#604D53, 0.9);
            border-radius: 100%;
            box-shadow: inset 10px 5px 0 20px #604D53;
    
    }
}